@charset "UTF-8";

 body{width:180px;height:300px;
     margin-left:-1px;
     margin-top:-1px;
     font:20px Arial, Helvetica, sans-serif;
     color:#333; 
     margin:0px 0px 0px 0px;
     background-image:url(../imagensinicial/tela012.jpg);
     background-attachment:fixed;
     border-image-repeat:no-repeat;
     cursor:default}

section {
     margin-top: 100px;

  margin-left: 350px;
  width: 800px;
  height: 600px;
}    

.btn-link {
     height: 50px;
     text-align: center;
     padding: 10px;
     text-decoration: none;     
     width: 150px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 16px;
     border-radius: 15px;
     color: white;
     background-color: blue;
     box-shadow: 4px 4px 4px green;    
}


.btn-link:hover {
     background-color: green;
}

