* {
    margin: 0px;
    padding:  0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;   
    width:180px;
    height: 300px;  
    font:20px Arial, Helvetica, sans-serif;   
    margin:0px 0px 0px 0px;
    background-image:url(../imagens/cev-portrait.jpg);
    background-attachment:fixed;
    border-image-repeat:no-repeat;
    cursor:default}

h1 {
    color: #091780;
    text-shadow: 2px 2px 0px #a71515;
}

section {
    width: 300px;
    height: 500px;
    margin-top: 10px;
    margin-left: 150px;
   
}
* {
    margin: 0px;
    padding:  0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;   
        width:180px;
        height: 500px;  
        font:20px Arial, Helvetica, sans-serif;   
        margin:0px 0px 0px 0px;
        background-image:url(../imagens/cev-landscape.jpg);
        background-attachment:fixed;
        border-image-repeat:no-repeat; 
}     

h1 {
    color: #091780;
    text-shadow: 2px 2px 0px #a71515;
}

section {
    width: 600px;
    height: 800px;
    margin-top: 10px;
    margin-left: 150px;   
}